<body  class="teal" >
<br><br><br><br>
<center>


  <div class="header"><div><h4>
  <%= link_to "SIGN IN", new_user_session_path, :method => :get, class: ['header_single_element']%>

   </h4></div>
  </div>

</center> 
 
<br><br>

<footer>
<font color="white" align="right">
 <b><i> <p >Created by: EJ</p>
</footer>



<p></p>