.form_element {
   font-family: ‘Arial', Gadget, sans-serif;
   color: #333333;
   font-size: 100%;
}

.left_div_user_home {
position: absolute;
    max-width: 500px;
    max-height: 500px;
    margin: 10px;
    border: 1px solid #fff;
    background-color: #00838f;
    box-shadow: 0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}




.validation_errror {
   font-family: ‘Arial', Gadget, sans-serif;
   color: #0000ff;
   font-size: 100%;
}




.custom_dropdown {
 -webkit-appearance: none;  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
 -moz-appearance: none;  /*REMOVES DEFAULT FIREFOX STYLE*/
 border: 0 !important;  /*REMOVES BORDER*/

 color: #fff;
 -webkit-border-radius: 5px;
 border-radius: 5px;
 font-size: 14px;
 padding: 10px;
 width: 35%;
 cursor: pointer;

 background: #0d98e8 url(drop-down-arrow.png) no-repeat right center;
 background-size: 40px 37px; /*TO ACCOUNT FOR @2X IMAGE FOR RETINA */
}

.submit_button {
       
        width: 100px;  
        height: 30px;
        text-align: center;
        color: #FFF;
        background: #00838f;   
        text-decoration: none;
}






.body1  {
  background-image: url('/assets/bg.jpg');
  background-size:cover
}





.header {
position: relative;
    max-width: 500px;
    max-height: 500px;
    margin: 10px;
    border: 1px solid #fff;
    background-color: #00838f;
    box-shadow: 0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


.header_single_element{

    text-decoration: none;
    margin: 10px;
    color: #ffffff ; 
    background-color: #ffffffff ; 
    

	
}

.header_single_content{

    text-decoration: none;
    margin: 10px;
    color: #000000 ; 
  /*  background-color: #000000 ; */
    font-family: ‘Arial', Gadget, sans-serif;

  
}



                      



/* Rounded Corner */
.textbox5 {
    border:2px solid #456879;
   /* border-radius:10px;*/
  
   }


   .textbox5_mandatory {
    border:2px solid #ff0000;
  /*  border-radius:10px;*/
    /*height:22px;*/
   }




.destroy_link{

    text-decoration: none;
    margin: 10px;
    color: #ff0000 ; 
    background-color: #ffffffff ; 
    

    
}


.v_e_link{

    text-decoration: none;
    margin: 10px;
    color: #0066a5 ; 
    background-color: #ffffffff ; 
}



.table_colour_small_font {
   font-size: 88%;
   text-align: center;
    border: 1px solid #fff;
    background-color: #80deea;
    box-shadow: 0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.table_colour {
   text-align: center;
    border: 1px solid #fff;
    background-color: #80deea;
    box-shadow: 0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


